@model FavelaDelivery.Models.CadastroEmpreendedor

@{
    ViewData["Title"] = "Create";
}

<head> 
    <link rel="stylesheet" href="~/css/estilocc.css" />
</head>

  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom static-top">
      <div class="container">
      <a class="nav-link active" aria-current="page" asp-action="Index" asp-controller="Home"><img src="~/img/logo_nova.png" alt="logo Favela Delivery" height="70"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto navcolor">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" asp-action="Index" asp-controller="Home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-action="Quemsomos" asp-controller="Home">Quem somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-action="Pedidos" asp-controller="Home">Pedidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-action="Cdastro" asp-controller="Home">Cadastro</a>
            </li>   
             <li class="nav-item">
              <a class="nav-link" asp-action="Contato" asp-controller="Home">Contato</a>
            </li>
            <div class="icons">
              <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
            </div>
          </ul>
        </div>
      </div>
    </nav>

<main class="container FormCadastro">
    <h4 class="titulo">Cadastro de Empreendedor</h4>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" class="FormularioCadastro">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NomeCompleto" class="control-label labelformulariocadastro"></label>
                    <input asp-for="NomeCompleto" class="form-control inputformulariocadastro" />
                    <span asp-validation-for="NomeCompleto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CPF" class="control-label labelformulariocadastro"></label>
                    <input asp-for="CPF" class="form-control inputformulariocadastro" />
                    <span asp-validation-for="CPF" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EnderecoPersonalizado" class="control-label labelformulariocadastro"></label>
                    <input asp-for="EnderecoPersonalizado" class="form-control inputformulariocadastro" />
                    <span asp-validation-for="EnderecoPersonalizado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label labelformulariocadastro"></label>
                    <input asp-for="Email" class="form-control inputformulariocadastro " />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefone" class="control-label labelformulariocadastro"></label>
                    <input asp-for="Telefone" class="form-control inputformulariocadastro" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Login" class="control-label labelformulariocadastro"></label>
                    <input asp-for="Login" class="form-control inputformulariocadastro" />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Senha" class="control-label labelformulariocadastro"></label>
                    <input asp-for="Senha" class="form-control inputformulariocadastro" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Cadastrar" class="btn btn-primary btnCadastro" />
                </div>
            </form>
        </div>
    </div>

</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
