body {
  padding: 0;
  margin: 0;
  background-image: url('/img/BG-formulario.jpg');
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
}

form {
  font-family: Poppins, Tahoma, sans-serif;
  font-size: 15px;
  max-width: 500px;
}

h1 {
  font-family: Poppins;
  font-size: 30px;
  margin: 0 auto;
  width: 340px;
  padding: 1em;
  color: black;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  color: black;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 5px;
  border-radius: 5px;
  border: 1px solid;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border-color: #00006633;
  background-color: #085eaec7;
  color: white;
  font-weight: bold;
}

textarea {
  width: 400px;
  height: 120px;
  line-height: 20px;
  max-width: 400px;
}

form label {
  margin-left: 20px;
  color: black;
  font-weight: bold;
}

form button {
  margin-left: 300px;
}
footer{
  text-align: center;
}