body{
    background: url('/img/BG-login.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-login{
    background-color: rgba(255, 255, 255, 0.500);
    padding: 80px;
    border-radius: 5%;
    box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.300);
}

h1{
    text-align: center;
    margin-bottom: 10px;
    color: #005fb2;
}

.label-login input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid #005fb2;
    background: transparent;
    outline: none;
    min-width: 200px;
    font-size: 16px;
    transition: all 0.3s ease-out;
}
.label-login input:focus{ 
    border-bottom: 2px solid #005fb27c;
}
.label-login label{
    color:#005fb27c;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all 0.3s ease-out;
}
.label-login input:focus + label{
    font-size: 13px;
    margin-top: 0;
    color: #005fb27c;
}
.label-login{
    position: relative;
    padding-top: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.form-btn-login{
    display: flex;
    justify-content: center;
   
}
.form-btn-login button{
    background-color: #ffae00;
    color: #fff;
    border: 0px;
    border-radius: 10px;
    padding: 7px;    
    font-size: 14pt; 
    margin-top: 20px;
    cursor: pointer;
    outline: none;   
    margin-bottom: 20px; 
    transition: all 0.2s ease-out;
}

.form-btn-login button:hover{
    font-weight: bold;
    
}
p{
    color: #005fb2;
    font-size: 18px;
    text-align: center;
    margin-top: 50px;

}

.form-login a{
    color: #005fb2;   
    text-decoration: none;
    font-weight: bold;    
}
